@-ms-viewport{
  width: device-width;
}
body{
	font-family: Helvetica, Arial, sans-serif;
}
button{
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #333;
	color: white;
	border : 1px solid #333;
}
input{
	-webkit-appearance: none;
	-moz-appearance: none;
}
.word{
	font-size: 20px;
}

.word:hover{
	font-size: 20px;
	background: #333;
	color: white;
}

.sentences{
	border : 0px #333 solid;
	border-bottom-width: 1px;
	padding: 10px;
}
.answers{
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}
.answer{
	margin-top: 15px;
	width: 100%;
	float: left;
}

.answer .text{
	display: inline;
	width: 100px;
}
.answer .input{
	width: 100%;
	height: 22px;
	padding-right: 20px;
}
.answer input{
	min-width: 85%;
	border: 1px #333 solid;
	border-radius: 0px;
	height: 22px;
	padding: 0px;
	vertical-align: middle;
}
.answer .input input{
	width: calc(100% - 55px);
	padding-left: 7px;
	padding-right: 7px;
	height: inherit;
	vertical-align: middle;
}
.answer .input button{
	border: 2px #333 solid !important;
	border-radius: 0px;
	text-align: center;
	height: 24px;
    width: 25px;
    vertical-align: middle;
}
.mainBtn{
	margin: 10px;
	margin-top: 20px;
	margin-right: auto;
	margin-right: auto;
	height: 30px;
	width: 60px;
	text-align: center;
}