@-ms-viewport{
  width: device-width;
}
body{
	font-size:18px;
}
button{
	-webkit-appearance: none;
	-moz-appearance: none;
}
.word{
	font-size: 20px;
}

.word:hover{
	background: #333;
	color: white;
}

.sentences{
	border : 0px #333 solid;
	border-bottom-width: 1px;
	padding: 10px;
}
.answers{
	margin-left: 10px;
	margin-right: 10px;
	width: 100%;
}
.answer{
	margin-top: 15px;
	width: 100%;
	float: left;
}
.answer:nth-child(even){
	background: #ddd;
}
.answer .text{
	display: inline;
	width: 100px;
}
.answer .input{
	float: right;
	min-width: 100%;
	padding-right: 20px;
}
.answer .input input{
	width: calc(100% - 49px);
}
.answer input{
	float: right;
	min-width: 80%;
	height: 22px;
	max-height: 22px;
	min-height: 22px;
	border: 1px #333 solid;
	border-right-width: 0px;
	border-radius: 0px;
}
.answer button{
	float: right;
	border: 1px #333 solid;
	border-radius: 0px;
	height: 26px;
	max-height: 26px;
	min-height: 26px;
	width: 26px;
	text-align: center;
}
.mainBtn{
	margin: 10px;
	margin-top: 20px;
	margin-right: auto;
	margin-right: auto;
	height: 30px;
	width: 60px;
	text-align: center;
}